html {
    background: url(../hw2/pictures/background.png);
    
}

header {
    font-size: 24pt;
    text-align: center;
    margin: 30px 0px;
}

label {
    font-size: 16pt;
}

div {
    text-align: center;
    margin: 10px;
}

div.text input {
    margin-left: 5px;
    background-color: rgb(231, 231, 231);
}

div#buttons {
    text-align: center;
    margin: 40px 0px;
}

input#submit, input#generate {
    font-size: larger;
}

body {
    width: 50%;
    position: absolute;
    left: 25%;
    top: 15%;
    border: 1px solid black;
    border-radius: 10px;
    background-color: whitesmoke;
    margin-top: 70px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#errorMessage {
    font-size: 16pt;
    text-align: center;
}